// Navigation Styles here


.navwrapper {
	border-bottom: 2px dashed @navigation-border;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;


	@media @mobile{
		flex-flow: column;
	}
}


.navbar {
	display: flex;
	flex-flow: row;
	justify-content: flex-end;
	flex-grow: 1;
	max-width: 800px;

	@media @mobile{
		justify-content: space-around;
		width: 100%;
	}

	a{
		padding: 2%;
		text-decoration: none;
		color: black;
		font-size: 1.5rem;
	}
}


